body {
  background-color: black ;
  color:white;
  text-align: center;
}
tbody{
  margin: auto;
  
}
.score {
  text-align: center;
}
.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid;
}
.modal {

display: none;
width: 200px;
height: 100px;
padding: 10px;
/* margin-left: 150px; */
border: solid 3px grey;
background-color: aliceblue;
color: blueviolet;
position: absolute;
top: 200px;
left: calc(50% - 100px);
}

button{

  border-radius: 5%;
  color: blueviolet;
}
img{
  width: 80%;
  /* width: 80px; */
}
.board-container{

  width:max-content;
  margin: auto;
}
.level{

  margin-top: 50px;
}
